# dependencies
node_modules/
.next/
dist/
build/
out/
.env
.env.local

# next
.next/
out/

# builds
dist/
build/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# expo
.expo/
.expo-shared/
apps/mobile-app/.expo/
apps/mobile-app/.expo-shared/

# misc
.DS_Store
*.log
apps/mobile-app/dist-validation/
apps/mobile-app/dist-validation-ios/
*.fig
*.sketch
*.zip
apps/mobile-app/ui8/_extracted/